$dark-theme: (
  primary: #f97316,
  primary-light: #fb923c,
  neutral-1: #4b5563,
  neutral-2: #d1d5db,
  content-on-primary: #ffffff,
  content-on-surface: #f9fafb,
  content-disabled: #9ca3af,
  surface: #374151,
  background: #1f2937,
  error: #e1254e,
);
