$light-theme: (
  primary: #f97316,
  primary-light: #fb923c,
  neutral-1: #d1d5db,
  neutral-2: #4b5563,
  content-on-primary: #ffffff,
  content-on-surface: #1f2937,
  content-disabled: #9ca3af,
  surface: #f9fafb,
  background: #e5e7eb,
  error: #e1254e,
);
